@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.Advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    text-align: center;
    background-color: #F5F6FA;
    margin-top: 124px;
}

.AdvantagesTitle{
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #333333;
    letter-spacing: -0.025em;
    width: 50%;
}

.AdvantagesText{
    font-family: "Monserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #858A8F;
    margin-top: 8px;
    width: 42%;
}

.AdvantagesCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    text-align: center;
    width: 1216px;
}

.AdvantagesCardTitle{
    font-size: 48px;
    font-family: "Monserrat", sans-serif;
    font-weight: 700;

}

.ant-card-body {
    padding: 0;
}

.AdvantagesCardDescription{
    font-size: 18px;
    font-family: "Monserrat", sans-serif;
    font-weight: 400;
    color: #333333;
}