@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.Calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.CalendarImgAndTextWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.CalendarTextWrapper{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 109px;
    padding-left: 109px;
}


.CalendarText{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    width: 60%;
    color: white;
}

.CalendarButton{
    font-family: 'Montserrat';
    background-color: #1DABF2;
    width: 327;
    height: 66px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.CalendarWrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.CalendarLeftSideWrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.CalendarLeftSideTitle{
    font-family: 'Montserrat';
    color: #333333;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
}
.CalendarLeftSideText{
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    color: #858A8F;
    margin-top: 30px;
    
}

.CalendarLeftSideButton{
    width: 212px;
    height: 66px;
    background-color: #1DABF2;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-top: 60px;
}