@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.NewLevelWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NewLevelRightSideTitle{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    width: 65%;
    text-align: center;
}

.NewLevelRightSideText{
    margin-top: 35px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #858A8F;
    width: 45%;
    text-align: center;
}

.NewLevelCardsWrapper{
    margin-top: 40px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.NewLevelCardTitle{
font-family: 'Montserrat';
font-weight: 700;
font-size: 28px;
line-height: 34px;
color: #333333;
margin-top: 30px;
}

.NewLevelCardText{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #858A8F;
    margin-top: 20px;
}