.Description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    text-align: center;
}

.DescriptionTitle {
    font-size: 64px;
    font-weight: 700;
    color: #333333;
    width: 80%;
}

.DescriptionText {
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    width: 45%;
}

.DescriptionButton {
    margin-top: 25px;
    width: 394px;
    height: 60px;
    background-color: #1DABF2;
    color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.DescriptionImage {
    display: flex;
    justify-content: center;
    margin-top: 86px;
    position: relative;
}

.DescriptionImageFirst {
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
}
