@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.OnlineBoard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.OnlineBoardTextWrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 114px;
}
.OnlineBoardTitle{
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #333333;
    width: 82%;
    line-height: 73px;
}

.OnlineBoardImageWrapper{
    flex: 1;
}

.OnlineBoardText{
    font-family: "Monserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #858A8F;
    width: 90%;
    line-height: 35px;
    margin-top: 30px;
}

.OnlineBoardCard{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.OnlineBoardCardDescription{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    flex: 0.93;

}
.OnlineBoardCardImage{
    flex: 0.07;

}

.OnlineBoardCardTitle{
    font-family: "Monserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    width: 90%;
    line-height: 35px;
}

.OnlineBoardCardText{
    font-family: "Monserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #858A8F;
    width: 90%;
    line-height: 35px;
}