.QuestionsWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    padding-top: 108px;
    background: #F5F6FA;
    padding-bottom: 70px;
}

.QuestionsRightSideTitle{
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #333333;
    margin-bottom: 88px;
}

