.Lessons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    padding-top: 120px;

}

.LessonsDescriptionWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 114px;
}

.LessonsDescriptionTitle {
    font-family: "Monserrat", sans-serif;
    font-size: 60px;
    width: 600px;
    line-height: 73px;
    color: #333333;
    font-weight: 700;
}

.LessonsDescriptionText {
    margin-top: 30px;
    font-family: "Monserrat", sans-serif;
    font-size: 20px;
    width: 600px;
    color: #858A8F;
    font-weight: 600;
}

.LessonsDescriptionItems {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
}

.LessonsDescriptionItem {
    flex-direction: row;
    margin-right: 50px;
}

.LessonsDescriptionButton{
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.LessonsDescriptionButtonText{
    font-family: "Monserrat", sans-serif;
    color: #1DABF2;
    font-weight: 600;
    font-size: 20px;
    margin-right: 15px;
}