@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.VisitLogWrapper{
    padding-top: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.VisitLogRightSideWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    

}

.VisitLogRightSideTitle{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    width: 65%;
}

.VisitLogRightSideText{
    margin-top: 30px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #858A8F;
    width: 65%;
}

.VisitLogRightSideItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
}

.VisitLogRightSideItem {
    flex-direction: row;
    margin-right: 50px;
}

.VisitLogRightSideButton{
    display: flex;
    margin-top: 40px;
    width: 65%;
}

.VisitLogRightSideButtonButtonText{
    font-family: "Monserrat", sans-serif;
    color: #1DABF2;
    font-weight: 600;
    font-size: 20px;
    margin-right: 15px;
}