.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 133px;
    padding: 0 50px 0 50px;
}


.RightSideWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
}

.textLink {
    color: #858A8F;
    font-size: 20px;
    font-weight: 600;
}

.buttonSignIn {
    background-color: #D9D9D9;
    width: 179px;
    height: 57px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.buttonSignUp {
    background-color: #1DABF2;
    width: 179px;
    height: 57px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

