.Features {
    margin-top: 120px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #F5F6FA;
}

.FeaturesTitle {
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #333333;
    width: 80%;
    line-height: 73px;
}

.FeaturesText {
    font-family: "Monserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #858A8F;
    width: 70%;
    line-height: 35px;
    margin-top: 35px;
}

.FeaturesCardsWrapper {
    margin-top: 30px;
    display: flex;
    width: 85%;
    flex-wrap: wrap;
}

.FeaturesCard {
    display: flex;
    flex-direction: column;
    
}

.FeaturesCardTitle {
    text-align: left;
}

.FeaturesCardText {
    text-align: left;
}