.TestingWrapper{
    padding-top: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.TestingRightSideWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    

}

.TestingRightSideTitle{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    width: 65%;
}

.TestingRightSideText{
    margin-top: 30px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #858A8F;
    width: 65%;
}

.TestingRightSideItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
}

.TestingRightSideItem {
    flex-direction: row;
    margin-right: 50px;
}

.TestingRightSideButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 327px;
    height: 66px;
    background-color: #1DABF2;;
    font-family: "Monserrat", sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
