.ant-layout {
    background: #fff !important;
}
.ant-layout-header {
    background: #fff !important;
}

.ant-layout-footer {
    background: #F5F6FA !important;
    width: 100%;
}

a.ant-typography{
    color: #333333 !important;
}

div.ant-collapse-header{
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    color: #333333;
    
  }

  .ant-collapse-content{
      border-top: 1px solid #fff !important;
  }