.Instruments {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    text-align: center;
    width: 100%;
}

.InstrumentsTitle {
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #333333;
    width: 70%;
}

.InstrumentsDescription {
    font-family: "Monserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #858A8F;
    width: 70%;
    margin-top: 24px;
}

.InstrumentsCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 36px;
}

.InstrumentsCardsTitle {
    font-size: 28px;
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.InstrumentsCardsText {
    font-family: "Monserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #858A8F;
    margin-top: 20px;
}

.InstrumentsButton {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.InstrumentsButtonText {
    font-family: "Monserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1DABF2;
    margin-bottom: 40px;
}