.Footer {
    padding-top: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    &__Text{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #979DA8;
        margin-top: 30px;
    }
    
}

.FooterLinkWrapper{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-bottom: 45px;
}

.FooterTextWrapper{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-top: 12px;
    &__Text{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #979DA8;
    }
} 